<br><br><br>
<div class="container" *ngIf="listRapports">
  <div class="panel panel-primary">
    <div class="panel-heading"><h1 style="font-family:verdana;">Liste des Rapports:</h1></div><br>
      <!-- Search form -->
  <form class="form-inline d-flex pull-right md-form form-sm active-purple-2 mt-2">
    <input class="form-control form-control-sm mr-sm-2" type="text" placeholder="Enter titre to Search"
    aria-label="Search" name="titre" [(ngModel)] = "titre" (ngModelChange)="Search()">
      <i class="fa fa-search" aria-hidden="true"></i>
  </form>
    <button class="btn btn-success" (click)="router.navigate(['/create-rapport']);"><i class="fa fa-user-plus"></i> Ajouter</button><br><br><br>
    <div class="panel-body">
      <table class="table table-striped">
          <tr>
            <th>Nom</th><th>Rapport</th><th>Actions</th>
          </tr>
          <tr *ngFor="let r of listRapports">
            <td>{{r.titre}}</td>
            <td><a href="{{rapportService.host+'/rapport/'+r.id}}" target="_blank">{{r.path}}</a></td>
            <td>

              <!--<ng-template #content let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <label for="">Title</label>
                      <input type="text" class="form-control" id="titre" [(ngModel)] = "r.titre" name='titre'>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); updateRapport(r.id)">Save</button>
                </div>
              </ng-template>-->

              <button (click)="updateRapport(r.id)" class="btn btn-info"> Update</button>
              <button (click)="deleteRapport(r.id)" class="btn btn-danger" style="margin-left: 10px"> Delete</button>
            </td>
          </tr>
      </table>
    </div>
  </div>
</div>
