<br><br><br>
<div class="container" *ngIf="theseSoutenus">
  <div class="panel panel-primary">
    <div class="panel-heading"><h1 style="font-family:verdana;">Liste des Thèses Soutenus:</h1></div><br>
  <!-- Search form -->
  <form class="form-inline d-flex pull-right md-form form-sm active-purple-2 mt-2">
    <input class="form-control form-control-sm mr-sm-2" type="text" placeholder="Enter titre to Search"
    aria-label="Search" name="titre" [(ngModel)] = "titre" (ngModelChange)="Search()">
      <i class="fa fa-search" aria-hidden="true"></i>
  </form>
    <button class="btn btn-success" (click)="router.navigate(['/create-theseSoutenu']);"><i class="fa fa-user-plus"></i> Ajouter</button><br><br><br>
    <div class="panel-body table-responsive text-nowrap">
      <table class="table table-striped">
          <tr>
            <th>Thèses</th><th>Soutenue le:</th><th>Actions</th>
          </tr>
          <tr *ngFor="let t of theseSoutenus">
            <td>{{t.titre}}</td>
            <td>{{t.date | date: 'dd/MM/yyyy'}}</td>
            <td>
              <button class="btn btn-info" (click)="updateThese(t.id)"> Update</button>
              <button class="btn btn-danger" style="margin-left: 10px" (click)="deleteThese(t.id)"> Delete</button>
            </td>
          </tr>
      </table>
    </div>
  </div>
</div>
