<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <a class="navbar-brand" href="https://www.ensaf.ac.ma/?controller=pages&action=home" target="_blank">ENSA de Fès</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/users">Users <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/rapports">Rapports <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Thèses<span class="sr-only">(current)</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/theses">Thèses en cours</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/theseSoutenus">Thèses soutenu</a>
        </div>
      </li>
    </ul>
    <!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav>
<br><br><br>
<div class="container" *ngIf="theses">
  <div class="panel panel-primary">
    <div class="panel-heading"><h1 style="font-family:verdana;">Liste des Thèses:</h1></div><br>
  <!-- Search form -->
  <form class="form-inline d-flex pull-right md-form form-sm active-purple-2 mt-2">
    <input class="form-control form-control-sm mr-sm-2" type="text" placeholder="Enter titre to Search"
    aria-label="Search" name="titre" [(ngModel)] = "titre" (ngModelChange)="Search()">
      <i class="fa fa-search" aria-hidden="true"></i>
  </form>
    <button class="btn btn-success" (click)="router.navigate(['/create-these']);"><i class="fa fa-user-plus"></i> Ajouter</button><br><br><br>
    <div class="panel-body table-responsive text-nowrap">
      <table class="table table-striped">
          <tr>
            <th>Thèses</th><th>Actions</th>
          </tr>
          <tr *ngFor="let t of theses">
            <td>{{t.titre}}</td>
            <td>
              <button class="btn btn-info" (click)="updateThese(t.id)"> Update</button>
              <button class="btn btn-danger" style="margin-left: 10px" (click)="deleteThese(t.id)"> Delete</button>
            </td>
          </tr>
      </table>
    </div>
  </div>
</div>
