<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <a class="navbar-brand" href="https://www.ensaf.ac.ma/?controller=pages&action=home" target="_blank">ENSA de Fès</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/users">Users <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/rapports">Rapports <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Thèses<span class="sr-only">(current)</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/theses">Thèses en cours</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/theseSoutenus">Thèses soutenu</a>
        </div>
      </li>
    </ul>
    <!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav>
<br>
<h2 class="col-md-8 offset-md-5">Ajouter un utilisateur:</h2>
<div class="col-md-6 offset-md-3">
  <div class="alert alert-danger" *ngIf="mode==1">
    <strong>Le CNE doit être unique ...</strong>
  </div>
<form (ngSubmit)="onSubmit()" ngNativeValidate>
  <div class="form-group" [class.has-error]= "prenomControl.invalid && prenomControl.touched">
    <label for="prenom" class="control-label">First Name</label>
    <input id="prenom" required type="text" class="form-control" name='prenom'
     [(ngModel)] = "user.prenom" #prenomControl="ngModel">
     <span class="text-danger" *ngIf="prenomControl.invalid && prenomControl.touched">First Name is required</span>
  </div>
  <div class="form-group">
    <label for="nom" class="control-label">Last Name</label>
    <input id="nom" required type="text" class="form-control" name='nom'
     [(ngModel)] = "user.nom" #nomControl="ngModel">
     <span class="text-danger" *ngIf="nomControl.invalid && nomControl.touched">Last Name is required</span>
  </div>
  <div class="form-group">
    <label for="username" class="control-label">CNE</label>
    <input id="username" required type="text" class="form-control" name='username'
     [(ngModel)] = "user.username" #cneControl="ngModel">
     <span class="text-danger" *ngIf="cneControl.invalid && cneControl.touched">CNE is required</span>

  </div>
  <div class="form-group">
    <label for="email" class="control-label">Email</label>
    <input id="email" required type="email" class="form-control" name='email'
     [(ngModel)] = "user.email" #emailControl="ngModel">
     <span class="text-danger" *ngIf="emailControl.invalid && emailControl.touched">Email is required</span>

  </div>
  <div class="form-group" [class.has-error]= "passwordControl.invalid && passwordControl.touched">
    <label for="password" class="control-label">Password</label>
    <input id="password" required type="password" class="form-control" name='password'
     [(ngModel)] = "user.password" #passwordControl="ngModel">
     <span class="text-danger" *ngIf="passwordControl.invalid && passwordControl.touched">Password is required</span>
  </div>
  <div class="form-group">
    <label for="repassword" class="control-label">Confirm your Password</label>
    <input id="repassword" required type="password" class="form-control" name='repassword' appConfirmEqualValidator="password"
     [(ngModel)] = "user.repassword" #repasswordControl="ngModel">
     <span class="text-danger" *ngIf="repasswordControl.touched && repasswordControl.errors?.required">
       This field is required
      </span>
      <span class="text-danger" *ngIf="repasswordControl.touched && repasswordControl.errors?.notEqual && !repasswordControl.errors?.required">
        Password don't match
       </span>
  </div>
  <div>
  <div class="form-group">
      <label>Fonction</label>
      <select name="fonction" [(ngModel)]="user.fonction" id="fonction" class="form-control" name='fonction'>
          <option *ngFor="let fonction of fonctions" [value]="fonction.value">
          {{fonction.display}}
          </option>
      </select>
  </div>
  <div class="form-group"  *ngIf="authService.isSuperAdmin()">
    <div>
      <label class=checkbox-inline>
        <input type="checkbox" name="isAdmin" [(ngModel)] = "user.isAdmin">    Is Admin
      </label>
    </div>
  </div>
  <div class="form-group"  *ngIf="authService.isSuperAdmin()">
    <div>
      <label class=checkbox-inline>
        <input type="checkbox" name="isSuperAdmin" [(ngModel)] = "user.isSuperAdmin">    Is Super Admin
      </label>
    </div>
  </div>
  <!--<div class="form-group">
    <label>
      <input type="checkbox" class="form-control" id="chefEquipe" [(ngModel)]="user.chefEquipe" name="chefEquipe" >
      Chef d'équipe
    </label>
  </div>-->
  </div>
  <button class="btn btn-success" type="submit">Ajouter</button>
</form>

</div>
